<img src="<%= @infos['picture']%>">
<ul>
	<li>
		<a href="https://dashboard.42.fr/user/profile/<%= @infos['uid'] %>">Dashboard profile</a>
	</li>
	<li>
		<a href="https://intra.42.fr/user/<%= @infos['uid']%>">Intra profile</a>
	</li>
</ul>
<ul>
<% @infos.each do |a, v|%>
	<li>
		<p><%= a %></p>
		<h6><%= v %></h6>
	</li>
<% end %>
</ul>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>